/* *{
  border: dashed 1px rgb(172, 28, 128);
} */

.wrapper{
	margin: auto;
	width: 80%;
}

body{
	margin: 0;
}

.header{
	display: flex;
	justify-content: space-between;
}

.logo{
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
	line-height: 32px;
	padding: 40px 0;
}

.title{
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 66px;
  line-height: 87px
}

.menu{
  display: flex;
	align-items: center;
}

.menu__item{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
	line-height: 21px;
	padding: 0 13px;
}

.menu__item:last-child{
	padding: 0;
}

.description{
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
}

.button{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
}

